.ser-closer-page {
  background-color: var(--background);
  color: var(--foreground);
}

.ser-closer-hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  background-color: var(--bg);
}

.ser-closer-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ser-closer-hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.ser-closer-hero .container {
  position: relative;
  z-index: 2;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2em;
  overflow: visible;
}

.ser-closer-header {
  display: flex;
  gap: 2em;
  width: 100%;
}

.ser-closer-header .col-lg {
  flex: 4;
}

.ser-closer-header .col-sm {
  flex: 2;
}

.ser-closer-hero .container h1 {
  font-size: 8vw;
  width: 100%;
  color: var(--foreground);
  line-height: 1.2;
  overflow: visible;
}

.ser-closer-hero .container h1 div {
  margin-bottom: -0.3em;
}

.ser-closer-tagline {
  display: flex;
  gap: 2em;
  width: 100%;
  margin-top: 2em;
}

.ser-closer-tagline .col-lg {
  flex: 4;
}

.ser-closer-tagline .col-sm {
  flex: 2;
}

.ser-closer-copy {
  position: relative;
  width: 100vw;
  padding: 8em 0;
}

.ser-closer-copy .container {
  width: 50%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.ser-closer-copy-wrapper {
  margin-top: 2em;
}

.ser-closer-copy-img {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-top: 3em;
}

.ser-closer-copy-img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ser-closer-copy-img-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ser-closer-copy h2 {
  font-family: var(--font-family);
  margin-bottom: 1em;
}

.ser-closer-copy p {
  margin-bottom: 2em;
  line-height: 1.6;
}

section.results {
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 100svh;
}

.results-header {
  position: absolute;
  padding-top: 4em;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  will-change: transform;
}

.results-header .container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.results-header-content {
  display: flex;
  gap: 2em;
  width: 100%;
}

.results-header-content .col-lg {
  flex: 4;
  position: relative;
}

.results-header-content .col-lg h1 {
  line-height: 0.9;
}

.results-header-content .col-sm {
  flex: 2;
}

.results-img-1 {
  position: absolute;
  bottom: 0;
  width: 30%;
  height: 200px;
  overflow: hidden;
}

.results-img-1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.results-img-2 {
  width: 100%;
}

.results-img-2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.metrics {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 5.5em 0 1em 0;
  will-change: transform;
}

.metrics .col-lg {
  flex: 4;
}

.metrics .col-sm {
  flex: 2;
}

.metric h3 {
  margin-bottom: 0.5em;
  color: var(--foreground-200);
}

.metric h2 {
  margin-bottom: 0.5em;
  font-family: var(--font-family);
  color: var(--foreground);
  line-height: 1;
}

.metric {
  padding-right: 1.5rem;
}

.metric:not(:last-child) {
  margin-bottom: 8em;
}

.metric p {
  margin-bottom: 0.5em;
  color: var(--foreground-300);
  font-size: 0.9em;
}

.ser-closer-outro-banner {
  position: relative;
  width: 100vw;
  height: 75vh;
  overflow: hidden;
  margin: 8em 0 0 0;
  background-color: var(--bg);
}

.ser-closer-outro-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.ser-closer-outro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-testimonial {
  position: relative;
  width: 100vw;
  padding: 8em 0;
}

.client-testimonial .container {
  width: 50%;
  margin: 0 auto;
  border-left: 1px solid rgba(255, 255, 255, 0.125);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.client-testimonial .container h2 {
  margin-bottom: 3em;
  font-style: italic;
  line-height: 1.4;
}

.client-image {
  width: 200px;
  margin-bottom: 20px;
}

.client-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.client-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.client-info p:first-child {
  font-weight: bold;
  color: var(--foreground);
}

.client-info p:last-child {
  color: var(--foreground-200);
  font-size: 0.9em;
}

.results-grid {
  position: relative;
  width: 100%;
  padding: 6em 0;
  background-color: var(--bg);
  overflow-x: hidden;
}

.results-grid .container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.results-grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.result-item {
  aspect-ratio: 5 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 0;
  border-top: 1px solid rgba(255, 255, 255, 0.125);
  width: 100%;
  box-sizing: border-box;
}

.result-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.result-details p:nth-child(1) {
  font-size: 20px;
  color: var(--foreground-200);
}

.result-details p:nth-child(2) {
  color: var(--foreground);
  font-weight: 500;
}

.result-visual {
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-radius: 8px;
}

.result-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .ser-closer-hero {
    height: 100svh;
  }

  .ser-closer-hero .container h1 {
    width: 80%;
    font-size: 15vw;
  }

  .ser-closer-tagline {
    position: relative;
    top: 0rem;
    width: 100vw;
    flex-direction: column;
    gap: 1em;
  }

  .ser-closer-copy .container {
    width: 100%;
  }

  .results-header .container {
    justify-content: flex-start;
    gap: 2em;
  }

  .results-img-1 {
    display: none;
  }

  .results-img-2 {
    width: 100%;
  }

  .metrics {
    width: 100%;
    padding: 70vh 20px 4em 20px;
  }

  .metric:not(:last-child) {
    margin-bottom: 4em;
  }

  .metrics .col:nth-child(1) {
    display: none;
  }

  .client-testimonial .container {
    width: 95%;
  }

  .results-grid .container {
    width: 100%;
    padding: 0 20px;
  }

  .results-grid-layout {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .result-details {
    padding: 0 10px;
    justify-content: center;
  }

  .result-details p:nth-child(1) {
    display: none;
  }

  .result-item {
    aspect-ratio: 1;
    padding: 1em 0;
  }
}

@media (max-width: 600px) {
  .results-grid-layout {
    grid-template-columns: 1fr;
  }
  
  .ser-closer-hero .container {
    padding-top: 2em;
  }
  
  .ser-closer-copy {
    padding: 4em 0;
  }
  
  .client-testimonial {
    padding: 4em 0;
  }
} 